<form class="container"  [formGroup]="editProductForm" (ngSubmit)="editProduct(editProductForm.value)" >
  <div class="wrap-add">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-4">
        <div class="col-12" style="max-height: 350px; clip-path: inset(0)">
<!--          <img class="upload-img" [src]="imgSrc" alt="">-->
        </div>
<!--        <div class="progress" style="margin: 5px 0">-->
<!--          <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width]="(uploadPercent$ | async) + '%'"></div>-->
<!--        </div>-->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12">
          <div class="mt-3">
            <label for="file">Foto del producto</label>
            <br>
            <input type="file" autocomplete="off" accept="image/*" class="form-control" id="file" formControlName="img" (change)="showPreview($event)">
            <!--                   [class]="isValidField('file')" (change)="showPreview($event)">-->
            <!--            <div class="invalid-feedback">-->
            <!--            <span *ngIf="productForm.get('file').errors?.required">-->
            <!--              Este campo es requerido-->
            <!--            </span>-->
            <!--            </div>-->
          </div>
        </div>
        <br>
      </div>
      <div class="col-12 col-sm-12 col-md-12 col-lg-8">
        <div class="row">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div>
              <label for="nombreproducto">Nombre de producto</label>
              <br>
              <input class="form-control" autocomplete="off" id="nombreproducto" placeholder="Ingrese el nombre del producto" formControlName="name">
              <!--                     [class]="isValidField('name')">-->
              <!--              <div class="invalid-feedback">-->
              <!--            <span *ngIf="productForm.get('name').errors?.required">-->
              <!--              Este campo es requerido-->
              <!--            </span>-->
              <!--              </div>-->
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-12">
            <div class="mt-3">
              <label for="description">Descripción del producto</label>
              <br>
              <textarea class="form-control" style="height: 100px;" autocomplete="off" id="description" placeholder="Ingrese una descripción" formControlName="description"></textarea>
              <!--                        [class]="isValidField('description')"></textarea>-->
              <!--              <div class="invalid-feedback">-->
              <!--            <span *ngIf="productForm.get('description').errors?.required">-->
              <!--              Este campo es requerido-->
              <!--            </span>-->
              <!--              </div>-->
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            <div class="mt-3">
              <label for="price">Precio</label>
              <br>
              <input type="number" class="form-control" id="price" autocomplete="off" placeholder="Ingrese el precio del producto" formControlName="price">
              <!--                     [class]="isValidField('price')">-->
              <!--              <div class="invalid-feedback">-->
              <!--            <span *ngIf="productForm.get('price').errors?.required">-->
              <!--              Este campo es requerido-->
              <!--            </span>-->
              <!--              </div>-->
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            <div class="mt-3">
              <label for="price">Total</label>
              <br>
              <input type="number" class="form-control" autocomplete="off" id="total" placeholder="Ingrese el total" formControlName="total">
              <!--                     [class]="isValidField('total')">-->
              <!--              <div class="invalid-feedback">-->
              <!--            <span *ngIf="productForm.get('total').errors?.required">-->
              <!--              Este campo es requerido-->
              <!--            </span>-->
              <!--              </div>-->
            </div>
          </div>
          <div class="col-12 col-sm-12 col-md-12 col-lg-4">
            <div class="mt-3">
              <label for="ventas">Ventas</label>
              <br>
              <input type="number" class="form-control" autocomplete="off" id="ventas" placeholder="Ingrese lo vendido" formControlName="vendidos">
              <!--                     [class]="isValidField('vendidos')">-->
              <!--              <div class="invalid-feedback">-->
              <!--            <span *ngIf="productForm.get('vendidos').errors?.required">-->
              <!--              Este campo es requerido-->
              <!--            </span>-->
            </div>
          </div>
        </div>
        <!--          <div class="col-12 col-sm-12 col-md-12 col-lg-12">-->
        <!--            <div class="mt-3">-->
        <!--               <textarea type="textarea" [value]=" urlImg | async " ngDefaultControl name="img" class="form-control" formControlName="img"-->
        <!--                         [class]="isValidField('img')"></textarea>-->
        <!--            </div>-->
        <!--          </div>-->

        <div class="col-12 mt-3 ">
          <br>
          <div class="row">
            <div class="col-6">
              <a routerLink="/admin/list" class="btn btn-danger btn-save"> Cancelar </a>
            </div>
            <div class="col-6">
              <button type="submit" class="btn btn-success btn-save ">Guardar Datos</button>
              <!--                <button type="submit" *ngIf="urlImg | async; else btnDisabled" class="btn btn-success btn-save ">Guardar Datos</button>-->
              <!--                <ng-template #btnDisabled>-->
              <!--                  <button type="submit" disabled="true" class="btn btn-success btn-save ">Guardar Datos</button>-->
              <!--                </ng-template>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<br>
<br>

<style>
  .text-copy {
    font-size: 11px;
    margin: 5px 0;
  }
</style>
