.input {
  label {
    font-size: 16px;
    line-height: 19px;
    color: #4A5568;
  }
  input {
    width: 100%;
    height: 50px;
    border: 2px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #2D3748;
    outline: none;
    margin-top: 11px;
    padding-left: 10px;
    transition: all .5s;
    &:focus {
      border: 2px solid #272D33;
    }
  }
}

.content-add-product {
  padding: 20px;
}
.btn-save {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.save {
  width: 304px;
  background: #04C45C;
  border-radius: 5px;
  height: 50px;
  border: 2px solid #04C45C;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  transition: all .5s;
  cursor: pointer;
  &:active {
    opacity: .5;
  }
}
@media (max-width: 720px) {

  .input {
    margin-bottom: 15px;
  }
  .save {
    width: 100%;
  }

}

.input {
  margin-bottom: 10px;
}
.is-invalid {
  &:focus {
    border: 2px solid #DD2476;
  }
}
.is-valid {
  &:focus {
    border: 2px solid #04C45C;
  }
}
