<app-toolbar></app-toolbar>
<br>
<div class="container">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-8">
      <div class="box__img_section">
        <img src="https://firebasestorage.googleapis.com/v0/b/nove-rous.appspot.com/o/products%2FWhatsApp%20Image%202021-04-27%20at%2023.12.46%20(1).jpeg?alt=media&token=027d8d24-777d-4420-8d14-47b0cd7d333f" alt="">
      </div>
    </div>
    <div class="col-12 col-sm-12 col-md-6 col-lg-4">
      <div class="box__info__product">
        <h2>Aqui va ir el nombre del producto, en skock</h2>
        <p>Mascarilla plegable kn95 fish en la marca MAYFIELD, de color plomo 🤗 caja de 20 unidades 🔥</p>
        <br>
        <h1>S/. 99.90</h1>
        <div class="promo__content d-flex">
          <mat-chip-list>
            <mat-chip selected color="accent">-15%</mat-chip>
          </mat-chip-list>
          <span>S/. 109.90</span>
        </div>
        <br> <br>
        <a target="_blank" mat-flat-button color="primary" style="width: 100%;">
          <mat-icon >shopping_cart</mat-icon> ¡Quiero pedir!
        </a>
        &nbsp;
        <a target="_blank" mat-stroked-button color="primary" style="width: 100%;">
          <mat-icon >textsms</mat-icon> ¿Tienes dudas? Escribenos
        </a>
      </div>
    </div>
  </div>
</div>
<br>
