<div class="wrap-login container">
  <div class="content">
    <div class=" section-logo-title">
      <div class="logo">
        <img src="https://res.cloudinary.com/unjfsc/image/upload/v1619591037/nove-rous_j7gh8m.svg" alt="">
      </div>
      <div class="section-title">
        <p class="welcome">Welcome back</p>
        <h2 class="title">Ingrese a su cuenta</h2>
      </div>
    </div>
    <div class="from-log">
      <input type="text" placeholder="Ingrese su usuario">
      <input type="text" placeholder="Ingrese su contraseña">
      <br>
      <button type="submit" class="btn-login" (click)="admin()"> Inciar Sesión</button>
    </div>
  </div>
</div>
