<div class="wrapper">
  <nav>
    <div class="logo d-flex">
      <img class="logo-nove" src="https://res.cloudinary.com/unjfsc/image/upload/v1619592425/logo-nove_wr4p2i.svg" alt="">
      <div class="title-logo">
        <p>@novedadesrous</p>
      </div>
    </div>
    <div class="red-social">
      <ul>
        <li><a href="https://www.facebook.com/Novedades-ROUS-108416914722739" target="_blank"> <i class="uil uil-facebook-f"></i> </a></li>
        <li><a href="" target="_blank"> <i class="uil uil-instagram"></i> </a></li>
      </ul>
    </div>
  </nav>
  <br> <br>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-3" *ngFor="let product of products">
        <div class="box-product">
          <div class="img-product">
            <img [src]="product.img" alt="">
          </div>
          <h3 class="title-product">{{product.name}}</h3>
          <p class="description-product">{{product.description}}</p>
          <div class="price-icons-wsp d-flex">
            <div class="price">
              <span>S/. {{product.price}}</span>
            </div>
            <div class="icon-wsp">
              <a href="{{wsp}} 👉👉 *{{product.name}}* 🖼️🖼️🖼️ ~Link-Foto: {{product.img}}~" target="_blank"> Pedir <i class="uil uil-whatsapp"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="footer-copy">
    <div class="logo d-flex">
      <div class="title-logo">
        <p>@novedadesrous</p>
      </div>
    </div>
    <div class="copy">
      Copyright ©{{date  | date: 'YYYY'}} Todos los derechos reservados.
    </div>
  </div>
</footer>
