<nav>
  <div class="logo d-flex">
    <img class="logo-nove" src="https://res.cloudinary.com/unjfsc/image/upload/v1619592425/logo-nove_wr4p2i.svg" alt="">
    <div class="title-logo">
      <p>@novedadesrous</p>
    </div>
    <div class="routers">
      <ul>
        <li><a class="list" routerLinkActive="active" routerLink="/admin/list">List</a></li>
        <li><a class="add" routerLinkActive="active" routerLink="/admin/add">Add</a></li>
      </ul>
    </div>
  </div>
  <div class="usr">
    <span><i class="uil uil-user"></i></span>
    <span class="web">Rosmene Ñope J.</span>
  </div>
</nav>
<router-outlet></router-outlet>
