@import "src/app/product/tbl-resposive/tbl-resposive";

.container::-webkit-scrollbar {
  display: none;
}

.tbl-products {
  width: 100%;
}
.num-order {
  width: 40px;
  text-align: start;
  padding-bottom: 10px;
}
.col-th {
  text-align: start;
  padding-bottom: 10px;
}

.btn {
  outline: none;
  border-radius: 2px;
  width: 60px;
  i {
    color: #FFFFFF;
    font-size: 17px;
  }
  cursor: pointer;
  transition: all .5s;
  &:active {
    opacity: .5;
  }
}

.btn-update {
  background: #25C685;
  border: 1px solid #25C685;
}
.btn-delete {
  background: #DD2476;
  border: 1px solid #DD2476;
}

.link-td {
  min-width: 50px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
  img {
    min-width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 5px;
  }
  a {
    color: #FF512F;
  }
}

@media screen and  (max-width: 720px) {
  .container {
    height: auto;
    overflow: auto;
  }
  .file-tr td {
    padding-bottom: 10px;
  }
}
